<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.shadowlearn.zonos2</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PROJECT_DIR__/.engines/zonos2/start-zonos2.sh</string>
    <string>--quant</string><string>q4_k</string>
    <string>--gpu</string>
    <string>--yes</string>
    <string>--no-browser</string>
    <string>--</string><string>--dac-gpu</string>
  </array>
  <key>WorkingDirectory</key><string>__PROJECT_DIR__/.engines/zonos2</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/bin:/bin</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Interactive</string>
  <key>StandardOutPath</key><string>__PROJECT_DIR__/data/zonos2.log</string>
  <key>StandardErrorPath</key><string>__PROJECT_DIR__/data/zonos2-error.log</string>
</dict>
</plist>
